test_markdown_output/test_chapter_01_enhanced.md
test_markdown_source/test_chapter_01.md
src/__pycache__/openai_service.cpython-312.pyc
src/__pycache__/openai_service.cpython-312.pyc
src/__pycache__/
src/test_markdown_source_batch/test_chapter_01_batch.md
day_03_updated.md
src/__pycache__/document_model.cpython-312.pyc
src/__pycache__/document_model.cpython-312.pyc
chapter_03_updated*.*
app.log
src/__pycache__/openai_service.cpython-312.pyc
src/__pycache__/app_controller.cpython-312.pyc
src/__pycache__/document_model.cpython-312.pyc
